.submitContainer {
  display: flex;
  flex-flow: row;
  width: 100%;
  height: 2rem;
}
.inputContainer {
  flex: 1 1 auto;
}
.inputContainer > input {
  border-radius: 5px;
  border: 1px solid #ccc;
  width: calc(100% - 1.1rem);
  height: 1.75rem;
  padding-left: 10px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: 1.1rem;
  color: black;
  outline: none;
}
.sendContainer {
  background: var(--POI-UI-PRIMARY);
  width: 2rem;
  height: 2rem;
  border-radius: 1rem;
  margin-left: 8px;
  cursor: pointer;
}
.sendContainer > span {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.ccontainer {
  display: contents;
}
